# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives
#### 1- List popular languages that Data Scientists use.
#### 2- List commonly used libraries used by Data Scientists.
#### 3- Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:

#### ordered_list
###### 1-python
######  2-R
###### 3-Scala
###### 4-Java
######  5-Julia
###### 6-C/C++

### Some of the commonly used libraries used by Data Scientists include:
#### 1-Numpy
#### 3-Pandas
#### 4-Scikitlearn
#### 5-Seaborn


| Data Science Tools | 
| --- | 
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60 
print ("hours is =" , hours)

hours is = 3.3333333333333335

## Author :
Vahid